.buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  margin-bottom: 40px;

  @media screen and (min-width: $tablet) {
    justify-content: center;
    margin-bottom: 30px;
  }

  @media screen and (min-width: $desktop) {
    margin-bottom: 50px;
  }

  &__item-button {
    @media screen and (max-width: 767px) {
      margin-bottom: 15px;
    }
  }

  &__item-button:not(:last-child) {
    margin-right: 8px;
  }

  &__secondary {
    padding: 6px 22px;
    color: $title-text-color;
    background-color: $section-team-bg-color;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    transition: color $timing-function, background-color $timing-function,
      box-shadow $timing-function;

    &:hover,
    &:focus {
      color: $primary-white-color;
      background-color: $accent-color;
      box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
        0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    }
    &--current {
      color: $primary-white-color;
      background-color: $accent-color;
      box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
        0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    }
  }
}
